<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.throwable.blog.dao.LinkDao">

    <select id="getAllLinks" resultType="org.throwable.blog.model.entity.Link">
        SELECT * FROM t_link WHERE is_delete = 0
    </select>

</mapper>